@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

/**@import "grid";*/
.first {
  display: flex;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 1280px) {
  .first {
    flex-direction: row;
  }
}
.first > div {
  height: 50vh;
}
@media only screen and (min-width: 1280px) {
  .first > div {
    height: 100vh;
    width: 50%;
  }
}
.first .info {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  .first .info {
    padding: 4rem 6rem;
  }
}
.first .info .middle_content h1 {
  padding: 0.3em 0;
}
@media only screen and (min-width: 1280px) {
  .first .info .middle_content p {
    max-width: 85%;
  }
}
.first .info .middle_content .buttons {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 600px) {
  .first .info .middle_content .buttons {
    padding: 3em 0;
  }
}
@media only screen and (min-width: 1280px) {
  .first .info .middle_content .buttons {
    max-width: 80%;
  }
}
.first .info footer {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  .first .info footer {
    justify-content: flex-start;
  }
}
.first .info footer a {
  font-size: 0.9rem;
  color: #0D62B6;
  display: block;
}
@media only screen and (min-width: 1024px) {
  .first .info footer a {
    padding-right: 5em;
  }
}
.first .info footer a:first-child {
  font-weight: bold;
}
.first .image {
  background-image: url("../assets/images/EP-2-web.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.partener {
  padding: 4rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 1280px) {
  .partener {
    align-items: flex-start;
  }
}
.partener h1 {
  margin: 1em 0 0;
}
@media only screen and (min-width: 1024px) {
  .partener h1 {
    margin: 2em 0 0;
    width: 80%;
  }
}
.partener p {
  margin: 1em 0;
}
.partener a.btn {
  margin: 2em 0;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .partener a.btn {
    margin: 4em 0;
    width: 80%;
  }
}
@media only screen and (min-width: 1280px) {
  .partener a.btn {
    margin: 8em 0;
    width: 50%;
  }
}

.form {
  padding: 6rem 6rem;
}
.form form {
  text-align: center;
  margin: 2em 0;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .form form {
    width: 80%;
  }
}
@media only screen and (min-width: 1024px) {
  .form form {
    width: 50%;
  }
}
@media only screen and (min-width: 1280px) {
  .form form {
    width: 30%;
    margin: 4em 0;
  }
}
.form form label {
  color: #083159;
  text-align: left;
  font-size: 0.9rem;
  display: block;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-indent: 1em;
}
@media only screen and (min-width: 1280px) {
  .form form label {
    margin: 1em 0;
  }
}
.form form label:last-of-type {
  margin-bottom: 4em;
}
.form form button {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .form form button {
    width: 50%;
  }
}
.form form input {
  height: 3em;
  width: 100%;
  border-radius: 10px;
  background-color: #E8E8E8;
  border: none;
  display: block;
  margin: 0.5em 0 2em;
  text-indent: 1em;
  color: #083159;
}
.form form input::placeholder {
  text-indent: 1em;
  color: #C2C2C2;
}
.form form input:focus {
  outline: solid 2px #083159;
  box-shadow: none;
  border-color: transparent;
}
.form b {
  color: #e62e6b;
}
.form div {
  text-indent: 1em;
  color: #083159;
  font-size: 0.8rem;
  text-align: left;
}

.valid {
  outline: solid 1px #30BF4A;
  box-shadow: none;
  border-color: transparent;
}

.invalid {
  outline: solid 2px #e62e6b;
  box-shadow: none;
  border-color: transparent;
}

.multumim {
  padding: 4rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 1280px) {
  .multumim {
    align-items: flex-start;
  }
}
.multumim h1 {
  margin: 1em 0 0 0;
}
@media only screen and (min-width: 1280px) {
  .multumim h1 {
    margin: 2em 0 0 0;
  }
}
.multumim p {
  margin: 1em 0;
  width: 100%;
}
.multumim a {
  margin: 2em 0;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .multumim a {
    margin: 4em 0;
    width: 80%;
  }
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 3vw;
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 1.8vw;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 0.9vw;
  }
}

body {
  background-color: #F2F2F2;
}
body section {
  height: 100vh;
}

.btn {
  padding: 1.2em 0;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  white-space: nowrap;
  width: 48%;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .btn {
    width: 45%;
  }
}
.btn.blue {
  background-color: #0D62B6;
  color: white;
  transition: 0.5s;
}
.btn.blue:hover {
  background-color: #083159;
}
.btn.white {
  background-color: #F2F2F2;
  border: 1px solid white;
  color: #083159;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1490196078);
  transition: 0.3s;
}
.btn.white:hover {
  border: 3px solid white;
  margin: -2px;
  box-shadow: none;
}

.vertical_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

h3 {
  height: 1.5rem;
}
h3 img {
  height: 100%;
}

a.inapoi {
  border-top: 2px solid #C2C2C2;
  border-left: 2px solid #C2C2C2;
  position: absolute;
  top: 4rem;
  left: 6rem;
  color: #C2C2C2;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  display: block;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1024px) {
  a.inapoi {
    border: none;
    transform: none;
  }
  a.inapoi:before {
    content: "ÎNAPOI";
  }
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 1.1em;
  letter-spacing: 0.04em;
  color: #083159;
}

p {
  color: #0D62B6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 1280px) {
  p {
    width: 75%;
  }
}

.hidden {
  display: none;
}

.visible {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}